<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
  <div fxLayout="column">
    <md-input-container>
      <input mdInput placeholder="Username" type="text" formControlName="username">
      <md-error *ngIf="inputInvalid(username)">
        Field is required
      </md-error>
    </md-input-container>
  </div>
    

  <div formGroupName="password" fxLayout="column">
    <md-input-container>
      <input mdInput type="password" placeholder="Password" formControlName="passwordOriginal">
      <md-error *ngIf="inputInvalid(passwordOriginal)">
        Field is required
      </md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput type="password" placeholder="Confirm password" formControlName="passwordConfirm">
      <md-error *ngIf="inputInvalid(passwordConfirm)">
        Field is required
      </md-error>
    </md-input-container>
  </div>

  <button md-raised-button type="submit" [disabled]="loginForm.invalid || loading">Sign up!</button>

</form>

<div *ngIf="loginError">Login error</div>